@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600;800&family=Kalnia:wght@200;400&family=Roboto+Slab:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab','EB Garamond','Kalnia', serif;
}

header{
    background-color: #333;
    padding: 20px;
}
h1{
    display: none;
}
nav ul{
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}
a>img{
    height: 40px;
    width: 100px;
}
nav ul li {
    display: inline;
    margin: 50px;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav {
    text-align: center;
    background-color: #555;

}
nav ul li:hover {
    background-color: #444;
}
/*header end*/
section {
    padding: 20px;
    font-size: 18px;
}
body {
    color: #fff;
    background: linear-gradient(120deg, #0c0c0c, #e1d3d6);
}

.color{
    padding: 20px 0px;
    background: linear-gradient(120deg, #0c0c0c, #e1d3d6);
}
.image{
    width: 50%;
    max-width: 750px;
    float: right;
    border-radius: 1000px;
}
footer {
    background-color: #333;
    text-align: center;
    padding: 20px;
    bottom: 0;
    height: 100px;
}

h2{
    text-align: center;
}

.bg-color{
    background-color: #8b8989;
}
.text-black{
    color: #000;
}
/*form start*/
form{
    max-width: 400px;
    margin: auto;
    height: 600px;

}
input,textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type='submit']{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #45a049;
}
label {
    display: block;
    margin-bottom: 8px;
}
@media (max-width: 1200px){
    nav{
        position: fixed;
        bottom: 0px;
        right: 0px;
        left: 0px;
        height: 90px;
    }
    nav ul{
        display: flex;
        height: 100%;
    }
    nav ul li{
        background-repeat: no-repeat;
        background-size: contain;
        flex: 1;
        background-position: center;
        margin: 0;
    }
    nav li:first-child{
        order: 2;
        background-image: url('/home.png');
        
    }
    nav li:nth-of-type(2){
        background-image: url('/info.png');
        order: 3;
    }
    nav li:nth-of-type(3){
        background-image: url('/phone.png');
        order: 4;
    }
    nav li:nth-of-type(4) {
        background-image: url('/personal-security.png');
        order: 5;
    }
    nav a{
        font-size: 0px;
        display: block;
        width: 100%;
        height: 100%;
    }
  }
#base{
    width: 20%;
    display: block;
    padding: 30px;
    margin: 30px;
    text-align: center;
    background: linear-gradient(160deg,#5d5d5d,#1f1e1e,#5d5d5d);

}