<%- include('./particle/head.ejs') %>
<body>
    <%- include('./particle/header.ejs') %>
      <div class="bg-color text-black">
    <section>
        <h2>Sattarov Elaman</h2>
        <p>Web Developer | Creative Thinker |</p>
        <h2>About Me</h2>
        <p>
            Hello! I'm Sattarov Elaman, a passionate web developer with a love for creating beautiful and functional websites.
            I believe in the power of technology to make a positive impact on the world, and I'm dedicated to continually
            learning and growing in the ever-evolving field of web development.
        </p>
    </section>
    <section>
        <h3>Skills</h3>
        <p>
            - HTML5, CSS3, JavaScript Python<br>
            - Responsive Web Design<br>
            - Frontend Frameworks (e.g., React, Vue)<br>
            - Backend Technologies (e.g., Node.js, Express)<br>
            - Database Management (e.g., MongoDB, MySQL)<br>
            - Version Control (e.g., Git, GitHub)<br>
        </p>
    </section>
    <section>
        <h3>Projects</h>
        <p>
            - Project 1: [hozircha yo'q]<br>
            - Project 2: [hozircha yo'q]<br>
        </p>
    </section>
</div>
    <%- include('./particle/footer.ejs') %>
</body>
</html>