<header>
    <a href="/"
      ><h1>My site</h1>
      <img src="/image.png" alt=""
    /></a>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/login">Members login</a></li>
      </ul>
    </nav>
  </header>